<div class='header'>
  <div class='left-header'>
    <div class='header-top'>
      <%= link_to "TOP", root_path %>
    </div>
    <div class='header-new'>
      <%= link_to "新規投稿", new_tweet_path %>
    </div>
  </div>

  <div class='right-header'>
    <%="新規登録"%>
    <%="ログイン"%>
  </div>

</div>