<div class='header'>
  <div class='left-header'>
    <%= link_to "TOP", root_path %>
    <%= link_to "投稿", new_tweet_path %>
  </div>

  <div class='right-header'>
    <%="新規登録"%>
    <%="ログイン"%>
  </div>

</div>