body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.header {
  background-color: aqua;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.left-header {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}

.header-top {
  margin-right: 15px;
}

.right-header {
  font-size: 16px;
}

.main-page {
  background-color: #FFCCFF;
  height: calc(100vh - 10vh);
  overflow: scroll;
}

.main-lists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.main-list {
  width: 300px;
  height: 250px;
  border: 1px solid red;
  margin: 15px 10px;
  padding: 10px;
  text-align: center;
}

.index-eat_time {
  margin-bottom: 5px;
}

.no-image {
  width: 250px;
  height: 180px;
}

.tweet-new-page {
  background-color: #FFCCCC;
  height: 100vh;
}

.new-tweet {
  text-align: center;
}

.show-tweet {
  background-color: beige;
  height: calc(100vh - 10vh);
  text-align: center;
}
